@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: Metrophobic;
}


input {
    border: solid;
    border-width: 1px;
    border-color: gray;
    border-radius: 4px;
    padding: 5px;
}


button {
    height: 32px;
}
