@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: Metrophobic;
}

#main {
    background-color: white;
    display: inline-grid;
    grid-row-gap: 1em;
    margin-top: 50%;
    justify-items: center;
    width: 100%;
}

input {
    border: solid;
    border-width: 1px;
    border-color: gray;
    border-radius: 4px;
    width: 70%;
    justify-self: center;
    padding: 5px;
}


button {
    justify-self: center;
    width: 60%;
    height: 32px;
}